@charset "UTF-8";
@media (max-width: 768px) {
/* -=-=-=-=-Header-=-=-=-=-=- */
    #menu img{
        width: auto;
        margin-left: 3px;
        padding-left: 5px;
    }
    header h1{
        letter-spacing: normal;
        left: 60%;
    }
/* -=-=-=-=-Header-=-=-=-=-=- */

/* -=-=-=-=-Main -> Início-=-=-=-=-=- */
    .main::before{
        background-position: right bottom;
        animation: none;
    }
    #caixateto{
        padding: 10px 15px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #caixateto:hover{
        padding: 15px 20px;
    }
    #caixateto > h1{
        font-size: 1.5em;
    }
/* -=-=-=-=-Main -> Início-=-=-=-=-=- */

/* -=-=-=-=-Main -> Hero-=-=-=-=-=- */
.caixahero{
    max-width: 100%;
    
}

.caixahero img{
    width: 100px;
    height: 100px;
}
.caixahero p{
    line-height: 17px;
}

/* -=-=-=-=-Main -> Skills-=-=-=-=-=- */
.skills{
    max-width: 95%;

}

.skillsGrid{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-bottom: 25px;
}
/* -=-=-=-=-Main -> Skills-=-=-=-=-=- */

/* -=-=-=-=-Main -> Hero-=-=-=-=-=- */

/* -=-=-=-=-Main -> Projetos-=-=-=-=-=- */
    #caixarin{
        margin-left: 10px;
        margin-right: 10px;
        height: 460px;
        max-width: 100%;
        padding-bottom: 10px;
    }
    #caixarin > h2{
        letter-spacing: 5px;
        padding: 25px;
        font-size: 1.8em;
        text-align: left;
    }
    .itemprojeto{
        height: 80px;
    }
    .itemprojeto:hover{
        transform: none;
        box-shadow: none;
    }
    .itemprojeto:active{
        transform: scale(1.02);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.368);
    }
    .info h1{
        font-size: 1.3em;
    }
    .info p{
        font-size: 0.9em;
    }
    .info span{
        font-size: 0.8em;
    }
/* -=-=-=-=-Main -> Projetos-=-=-=-=-=- */

/* -=-=-=-=-Main -> Sobre Mim-=-=-=-=-=- */
#sobremim{
    height: 900px;
    background-image: url(images/hkphonepic.jpeg);
    background-position: center bottom;
    justify-content: center;
}

#caixamiku{
    height: 450px;
    max-width: 700px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 0.3fr 1fr;
    gap: 0px;
}

#caixamiku > h2{
    font-size: 1.2em;
}

#caixamiku > #sobremim{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#caixamiku > #objetivo{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#caixamiku > p{
    padding-top: 10px;
    padding-bottom: 10px;
}
/* -=-=-=-=-Main -> Sobre Mim-=-=-=-=-=- */

/* -=-=-=-=-Main -> Contato-=-=-=-=-=- */
#caixacontato{
    margin-left: 10px;
    margin-right: 10px;
}

#caixacontato img{
    width: 60px;
}
/* -=-=-=-=-Main -> Contato-=-=-=-=-=- */

footer p{
    font-size: 0.9em;
}
}