/* -=-=-=-=-Global-=-=-=-=-=- */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "TrajanPro-Regular";
    src: url('fonts/TrajanProRegular.ttf') format('truetype');
}

@keyframes zoomOut{
    from {
        transform: scale(2);
    }
    to {
        transform: scale(1);
    }
}

:root{
    --roxo1: #B28AE4;
    --roxo2: #976BCF;
    --amarelo1: #FCE3A0;
    --amarelo2: #FFCE71;
    --rosa: #FFB5C0;
    --serrat: "Montserrat Alternates", sans-serif;
    --poppins: "Poppins", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar{
    width: 12px;
    background-color: #976BCF;
}

body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--roxo2);
}

body::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.261);
}
/* -=-=-=-=-Global-=-=-=-=-=- */

/* -=-=-=-=-Header-=-=-=-=-=- */
header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 2px 4px inset rgba(0, 0, 0, 0.500);   
    background-color: var(--roxo1);
}

header h1{
    font-family: var(--serrat);
    letter-spacing: 10px;
    text-shadow: 1px 1px 2px var(--roxo2);
    
    opacity: 1;
    transition: opacity ease 0.3s;   cursor: default;
}

header h1.active{
    pointer-events: none;
    opacity: 0;
}   
/* -=-=-=-=-Header-=-=-=-=-=- */

/* -=-=-=-=-Main -> Início-=-=-=-=-=- */
.main{
    height: 115vh;
    width: 100%;
    
    overflow: hidden;
    position: relative;
    
    display: flex;

    justify-content: center;
    align-items: center;
    z-index: 1;
}

.main::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--roxo2);
    background-image: url(images/galesa.jpg);
    background-size: cover;
    background-position: center;

    animation: zoomOut 2s ease-out forwards;
    z-index: -1;
}

#caixateto{
    background-color: var(--roxo2);
    height: auto;
    width: auto;

    border-radius: 20px;
    margin-bottom: 90px;

    padding: 20px 25px;
    transition: padding ease 0.2s;
}

#caixateto:hover{
    padding: 25px 30px;
    transition: padding ease 0.2s;
    cursor: default;
}

#caixateto > h1{
    color: #080A25;
    text-align: center;
    font-size: 1.8em;
    font-family: var(--serrat);
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.323);
}
/* -=-=-=-=-Main -> Início-=-=-=-=-=- */

/* -=-=-=-=-Main -> Hero-=-=-=-=-=- */
.hero{
    background-color: var(--roxo2);
}

.caixahero{
    width: 800px;
    display:flex;
    justify-self: center;
    align-items: center;    
    padding: 25px 0px;
}

.caixahero img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 4px solid var(--roxo1);
}

.caixahero p{
    font-family: var(--poppins);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.207);
    padding-left: 10px;
}
/* -=-=-=-=-Main -> Hero-=-=-=-=-=- */

/* -=-=-=-=-Main -> Skills-=-=-=-=-=- */
.skillsBg{
    background-color: var(--roxo2);
    padding: 10px 0px;
}

.skills{
    width: 800px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    padding: 0px 15px;
}

.skills h2{
    font-family: var(--serrat);
    text-shadow: 1px 1px 2px var(--roxo2);
    text-decoration: underline;
    padding: 25px 15px;
}

.skillsGrid{
    padding-top: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.skillsGrid div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsGrid img{
    height: 50px;
}

.skillsGrid p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace;
    font-weight: 600;
    text-decoration: underline;
    
}
/* -=-=-=-=-Main -> Skills-=-=-=-=-=- */

/* -=-=-=-=-Main -> Projetos-=-=-=-=-=- */
.projetos{
    background-color: var(--roxo2);
}

#caixarin{
    background-color: var(--roxo2);
    width: 800px;
    height: 500px;
    border-radius: 15px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-self: center;
}

#caixarin > h2{
    font-family: var(--serrat);    
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.179);
    text-decoration: underline;
    padding: 25px 10px;
    cursor: default;
}

#listaprojetos{
    width: 90%;
    max-height: 390px;
    
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5px;
    padding-right: 10px;
    padding-left: 10px;

    list-style: none;
    overflow-y: auto;
}

#listaprojetos a{
    text-decoration: none;
}

#listaprojetos::-webkit-scrollbar {
    width: 10px;
}

#listaprojetos::-webkit-scrollbar-thumb {
    background-color: var(--roxo1);
    border-radius: 20px;
}

#listaprojetos::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
    border-radius: 20px;
}

.itemprojeto{
    display: flex;
    align-items: center;
    background-color: var(--amarelo2);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.itemprojeto:hover{
    transform: scale(1.02);
   /*  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.368); */
}

.itemprojeto img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}

.info{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 3px;
}

.info h1{
    font-family: var(--serrat);
    font-weight: 600;
    font-size: 1.5em;
    color: #080A25;
}

.info p{
    font-size: 1.1em;
    color: #484747;
    font-family: var(--serrat);
    font-weight: 700;
}

.info span{
    font-family: var(--serrat);
    font-weight: 500;
    font-size: 0.9em;
    color: #6e6c6c;
}

/* -=-=-=-=-Main -> Projetos-=-=-=-=-=- */

/* -=-=-=-=-Main -> Sobre Mim-=-=-=-=-=- */
#sobremim{
    display: flex;
    justify-content: right;

    background-image: url(images/);
    background-position: bottom right;

    box-shadow: 0px 1px 6px inset rgba(0, 0, 0, 0.500);
}

#caixamiku{
    height: 400px;
    width: 700px;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    gap: 30px;
}

#caixamiku > h2{
    font-family: 'TrajanPro-Regular', sans-serif;
    color: white;
    font-size: 1.3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.531);
    cursor: default;

    display: flex;
    align-items: end;
}

#caixamiku > #sobreMim{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#caixamiku > #objetivo{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#caixamiku > p{
    font-family: 'TrajanPro-Regular', sans-serif;
    color: white;
    font-size: 0.9em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.504);
    cursor: default;

    padding-top: 5px;
    border-top: 2px solid white;
}

/* -=-=-=-=-Main -> Sobre Mim-=-=-=-=-=- */

/* -=-=-=-=-Main -> Contato-=-=-=-=-=- */
#contato{
    background-color: var(--roxo1);
    display: flex;
    justify-content: center;
}

#caixacontato{
    width: 800px;
    
    text-align: left;
    border-radius: 20px;
}

#caixacontato > h2{
    padding-top: 20px;
    font-family: var(--serrat);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.165);
    text-decoration: underline;
}
#caixacontato img{
    width: 100px;
    margin: 35px 0px;
    margin-left: 20px;
    transition: transform ease 0.3s;    
}

#caixacontato img:hover{
    transform: scale(1.1);
    transition: transform ease 0.3s;
}
/* -=-=-=-=-Main -> Contato-=-=-=-=-=- */

/* -=-=-=-=-Rodapé-=-=-=-=-=- */
footer{
    background-color: var(--rosa);
    padding: 10px 0px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.500)
}

footer p{
    text-align: center;
    font-size: small;
    line-height: 20px;
    opacity: 70%;
}

footer #email{
    cursor: pointer;
    text-decoration: underline;
}
/* -=-=-=-=-Rodapé-=-=-=-=-=- */