@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@keyframes zoomOut{
    from {
        transform: scale(2);
    }
    to {
        transform: scale(1);
    }
}

:root{
    --roxo1: #B28AE4;
    --roxo2: #976BCF;
    --amarelo1: #FCE3A0;
    --amarelo2: #FFCE71;
    --rosa: #FFB5C0;
    --amatic: "Amatic SC", sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}

header{
    background-color: var(--roxo1);
    height: 60px;
    width: 100%;
    display: flex;
}
#menu{
    width: 90%;
    display: flex;     
}
#menu img{
    position: relative;
    width: 10%;
    scale: 0.9;
    cursor: pointer;

    transition: transform ease 0.3s;
}
#menu img:hover{
    transform: scale(1.1);
    transition: transform ease 0.2s;   
}
#menu img.rotate{
    transform: rotate(90deg);
    transition: transform ease 0.3s;
}
#menu nav{
    position: absolute;
    top: 0;
    left: 20px;
    width: 50px;
    height: 60px;
    
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all ease 0.4s;    
}
#menu nav.active{
    width: 80%;
    visibility: visible;
    
    opacity: 1;

    transition: all ease 0.3s;
}
#menu a{
    height: 60%;
    width: 15%;
    
    pointer-events: all;
    text-decoration: none;
    font-family: var(--amatic);
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 5px;
    color: #1E2575;
    transition: letter-spacing ease 0.2s;

    background-color: var(--amarelo2);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#menu a:hover{
    letter-spacing: 2px;
    transition: letter-spacing ease 0.2s;
}
#mode{
    display: flex;
    justify-content: center;
    width: 10%;
    height: 100%
}
#mode img{
    height: 50px;
    padding: 10px 10px 10px 10px;
    border-radius: 100%;
    background-color: #6f3ab3;
    
    cursor: pointer;
    transition: transform ease 0.3s;

    display: flex;
    align-self: center;
}
#mode img:hover{
    transform: scale(1.1);
    transition: transform ease 0.2s;
}
#lightmode{
    position: absolute;
    visibility: visible;
    pointer-events: auto;
    transform: rotate(0deg);
    transition: transform ease-out 0.3s;
}

#lightmode.clicked{
    visibility: hidden;
    pointer-events: none;
    transform: rotate(360deg) ;
    transition: transform ease-out 0.3s;
}
#darkmode{
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    transform: rotate(0deg);
    transition: transform ease-out 0.3s;
}
#darkmode.clicked{
    visibility: visible;
    pointer-events: auto;
    transform: rotate(360deg);
    transition: transform ease-out 0.3s;
}


main{
    height: 115vh;
    width: 100%;
    box-sizing: border-box;
    
    overflow: hidden;
    position: relative;
    
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--roxo2);
    background-image: url(images/galesa.jpg);
    background-size: cover;
    background-position: center;
    
    animation: zoomOut 2s ease-out forwards;
    z-index: -1;
}
#caixateto{
    background-color: var(--roxo2);
    height: auto;
    width: auto;
    
    border-radius: 20px;
    padding: 20px 25px;
    transition: padding ease 0.2s;
}
#caixateto:hover{
    padding: 25px 30px;
    transition: padding ease 0.2s;
    cursor: default;
}
#caixateto > h1{
    color: #080A25;
    text-align: center;
    font-size: 1.8em;
}
footer{
    background-color: var(--rosa);
    padding: 10px 0px;
}
footer p{
    text-align: center;
    font-size: small;
    line-height: 20px;
    opacity: 70%;

}
footer #email{
    cursor: pointer;
}